<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>My Portfolio</title>
  </head>
  <body>
    <header>
      <h1>My Skills</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/skills">Skills</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Programming Languages</h2>
        <ul>
          <li>Go</li>
          <li>Python</li>
          <li>JavaScript</li>
          <!-- Add more languages as needed -->
        </ul>
      </section>
      <section>
        <h2>Technologies</h2>
        <ul>
          <li>HTML/CSS</li>
          <li>React</li>
          <li>Django</li>
          <!-- Add more technologies as needed -->
        </ul>
      </section>
    </main>
    <footer>
      <p>
        © 2024 Fikri. All rights reserved. | 🌐 Visit my
        <a href="https://github.com/pikiey04" target="_blank">GitHub</a>!
      </p>
    </footer>
  </body>
</html>
